<a href="https://colab.research.google.com/github/Merve977/Akbank-GlobalAIHub-Bootcamp-Python-Notes/blob/main/Akbank-GlobalAIHub-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fav_number = 12
if fav_number < 15:
  print("My favourite number is less than 15!")

In [ ]:
help()   #to find out keywords in python

In [ ]:
#variable defining
pi = 3.14
print(pi)

In [ ]:
pi

In [ ]:
pi = 3.14
if pi < 3.15:
  pi = pi + 0.1
print(pi)

In [ ]:
def greetings(name):
  print(f"Hello {name}")

greetings("merve")

In [ ]:
#COMMENTS
"""defrgt
wdefrgt
wdefrgt"""

print("Hello World")

In [ ]:
#LISTS
store_items = ["Apple", 1.49, "Banana", 42, 13.6, "Cherry", 1.99, "Chess", "Grape"]
print(store_items)
print(type(store_items))
print(store_items, type(store_items))

In [ ]:
print(store_items[2])

In [ ]:
store_items[2] = 'Chocolate'
print(store_items)

In [ ]:
store_items[0] = 111
print(store_items)

In [ ]:
age = 25
print(age, type(age))

In [ ]:
age += 0.52
print(age, type(age))

In [ ]:
my_age = "30"
my_age = int(my_age)
print(type(my_age))

In [ ]:
name = "Merve"
print('Hello', name, "'")

In [ ]:
name = input("Your name please: ")
print("Greetings, ", name)

In [ ]:
number = int(input('Number: '))
print(number + 10)

In [ ]:
#IMPORTING
import math

number = math.floor(4.621)
print(number, type(number))

In [ ]:
import datetime

print(datetime.datetime.now())

In [ ]:
import random

print(random.randint(1, 6))

In [ ]:
#ARITHMETIC OPERATORS
print(2 + 5)
print(2 - 5)
print(2 * 5)
print(2 / 5)
print(2 ** 5)
print(2 % 5)

print(5 / 2)
print(5 // 2)
print(5 % 2)

In [ ]:
#ASSIGNMENT OPERATORS
x = 5
x += 5
print(x)

In [ ]:
#COMPARISON OPERATORS
num1 = 10
num2 = 5
print(num1, ">", num2, "= ", num1>num2)
print(num1, ">=", num2, "= ", num1>=num2)
print(num1, "<", num2, "= ", num1<num2)
print(num1, "<=", num2, "= ", num1<=num2)
print(num1, "==", num2, "=", num1==num2)
print(num1, "!=", num2, "= ", num1!=num2)

In [ ]:
#LOGICAL OPERATORS : AND-OR-NOT
print("True and True= ", True and True)
print("True and False= ", True and False)
print("False and True= ", False and True)
print("False and False= ", False and False)
print()
print("True and True and False= ", True and True and False)

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
print("not True=", not True)
print("not False=", not False)

In [ ]:
name = "Deniz"
a = 3
print(name * 3)

In [ ]:
#FOR LOOP
volcano_name = 'Eyjafjallajökull'
for i in volcano_name:
  print(i)
print("Loop is completed!")

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
for i in numbers:
  print(i)

In [ ]:
for i in range(10):
  print(i)

In [ ]:
for i in range(5,21):
  print(i)

In [ ]:
for i in range(1,101):
  if i % 5 == 0:
    print(i)

In [ ]:
#WHILE LOOP
import time
celcius = 10

while celcius < 50:
  if celcius > 30:
    print("Hot")
  elif 30 >= celcius > 20:
    print("Good")
  elif -273 < celcius <= 20:
    print("Cold")
  print("The current temperature is", celcius)
  celcius += 5
  time.sleep(1)   #wait 1 sec to wait

In [ ]:
#INFINITE LOOPS
import time

counter = 0
while counter >= 0 :
  print(counter)
  counter  += 1
  time.sleep(1)

In [ ]:
import random
import time

while True:
  lucky_number = random.randrange(100)
  print(lucky_number)
  if lucky_number == 77:
    print("Found!")
    break

  time.sleep(0.5)

In [ ]:
names = ["Max", "Felix", "Denis", "John", 26, "Mary" ,"Jenna"]
for name in names:
  if type(name) != str:
    print("Found,", name)
    break
  else:
    print(name, "is a string.")

In [ ]:
#FUNCTIONS
def sum(number1, number2):
  print(number1 + number2)

sum(12, 6)

In [ ]:
result = sum(1,4)   #because the sun function does not return anything
print(result)

In [ ]:
#Scope concepts 
def greetings(first_name, last_name, auto_correction):
  if auto_correction == True:
    capitalized_first_name = first_name.capitalize()
    capitalized_last_name = last_name.capitalize()
    print("Hello,", capitalized_first_name, capitalized_last_name)
  else:
    print("Hello,", first_name, last_name)

greetings("meRVe", "PoLAt", True)
greetings("meRVe", "PoLAt", False)

In [ ]:
#DEFAULT ARGUMENTS
def greetings(first_name, last_name, auto_correction=True):
  if auto_correction == True:
    capitalized_first_name = first_name.capitalize()
    capitalized_last_name = last_name.capitalize()
    print("Hello,", capitalized_first_name, capitalized_last_name)
  else:
    print("Hello,", first_name, last_name)

#default argument
greetings("deNİZ","POLAT")

#non-default argument
greetings("deNİZ","POLAT", False)

In [ ]:
#KEYWORD ARGUMENTS vs POSITIONAL ARGUMENTS
def car(brand, model, color):
  print("My favourite car is the", brand, model, "in the color", color)

#keyword argument
car("Audi", "R8", "black")

#positional argument
car(color="gray", model="R8", brand="Audi")

In [ ]:
car(brand="Audi", model="R8", "brown")

In [ ]:
#SCOPE: GLOBAL - LOCAL
#global variable
number = 13 

def change_number():
  #local variable
  number = 4   

change_number()
print(number)

In [ ]:
#SCOPE: GLOBAL - LOCAL
#global variable
#number1 = 13 

def change_number():
  number1 = 4

change_number()
print(number1)

In [ ]:
#if a variable is defined as global in the function, it become global for entire program
my_number = 13

def change_number():
  global my_number
  my_number = 4

change_number()
print(my_number)

In [ ]:
#MODULES IN PYTHON
#first we have to import our module
import test

test.greetings('Merve')
test.greetings('Deniz')

In [ ]:
"""LIBRARİES: Collection of modules in a language
SEABORN LIBRARY: Allows us create statistical graphics. Used commonly in data 
visualization
->first install the library
!pip install seaborn
"""

!pip install seaborn

In [ ]:
#now we can import seaborn. sns is an alias that we'll use instead of seaborn
import seaborn as sns

In [ ]:
data = [1, 2, 10, 3, 5, 6, 13]  #tihs numbers are our Y-coordinates

In [ ]:
#create a line plot using seaborn
#in order to plot a line, we need X-coordinates, instead of creating a new list-> range(7)can be used
#range(7) = numbers from 0 to 6
sns.lineplot(range(7), data)

In [ ]:
#DATA STRUCTURES: LIST-TUPLE-SET-DICTIONARY
#LISTS
shopping_list = ["Apple", "Juice", "Ball", "Book"]
print(shopping_list)

In [ ]:
#BUILT-IN METHODS FOR LISTS
#1)append : append a new element to the end of the list
shopping_list.append("Tomato")
print(shopping_list)

In [ ]:
shopping_list.append("Honey")
print(shopping_list)

In [ ]:
#2)insert : Insert elements according the position(index) given
#In order to add "Banana" to the 3rd position, which is index=2
print("Our list at the beginning:", shopping_list)

shopping_list.insert(2, "Banana")
print("After inserting: ", shopping_list)

In [ ]:
#REMOVE METHODS
#1)remove: you have to enter the exact element's name

print(shopping_list)
shopping_list.remove("Banana")
print(shopping_list)

In [ ]:
#EXCHANGE AN ELEMENT WITH ANOTHER
#list_name[element_position]  = new_value
print("Our list:", shopping_list)
shopping_list[3] = "Water"
print("Updated list:", shopping_list)

In [ ]:
#Example: Obtain a square list based on the given list's element

list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
square_list = []

for e in list:
  square_list.append(e**2)

print(square_list)

In [ ]:
#LIST COPMREHENSION
#We can solve the probelm with list comprehension more easily and efficiently
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list = [num**2 for num in list]
print(new_list)

In [ ]:
"""DATA STRUCTURES: TUPLES
Lists are MUTABLE : adding, deleting and editing/changing elements are alowed.
Tuples are IMMUTABLE: adding, deleting and editing/changing elements are NOT alowed!
"""

In [ ]:
#Creating tuples
my_tuple = ("Merve", "Nur", "Deniz", "Aleyna", "Zeynep")
print(my_tuple, type(my_tuple))

In [ ]:
#UNPACKING A TUPLE
cities = ("Ankara", "Istanbul", "Bursa") 
item1, item2, item3 = cities
print(item1)
print(item2)
print(item3)

In [ ]:
#REACH LIST ITEMS
print(cities) 
print(cities[1])

In [ ]:
#TUPLE SLICING
cities = ("Ankara", "Istanbul", "Bursa", "Adana", "Samsun", "Mardin", "Kocaeli", "Yozgat")
print(cities[2:6])

In [ ]:
#changing a list elements will give error
fruits = ("Apple","Banana"," Cherry", "Grape"," Watermelon", "Orange")
fruits[4] = "Melon"
print(fruits)

In [ ]:
"""The main difference between tuple and lists is mutablity.
Both of them can store different types of data"""

In [ ]:
#DATA STRUCTURES- Dictionaries
#key-value pair
phone_book = {'Merve Polat': '05525894534', 'Deniz Polat': '+905523415639', 'Zeynep Demirci': '05637128900'}
print(phone_book)
print(type(phone_book))

In [ ]:
'''key comes first and value comes second
   key can be an integer or string
   a keY must be UNIQUE
   to accesss a value-> dict_name[key_name]
'''
#access an element
myself = {'name': 'Merve', 'surname': 'Polat', 'age':22, 'occupation':'Software Engineer'}
print(myself['occupation'])

In [ ]:
#Creating an epmty dictionary : dict()
inventory = dict()
print(inventory)


#adding elements one by one
inventory["Banana"] = 125
inventory["Apple"] = 20
inventory["Melon"] = 4
inventory["Mango"] = 23

print(inventory)

In [ ]:
#Showing KEYS and VALUES seperately : keys() - values() methods
# {'Banana': 25, 'Apple': 20, 'Melon': 4, 'Mango': 23}

print(inventory.keys())
print(inventory.values())

In [ ]:
#items() method: returns the key-value pairs as a ilst of tuples
print(inventory.items())

In [ ]:
#iterating dictionary items thanks to for loop 
#ATTENTION: Only keys of dictionary will be printed!!!

for item in inventory:
  print(item)

In [ ]:
#Example:Here is our dictionary {'Banana': 25, 'Apple': 20, 'Melon': 4, 'Mango': 23}. Increase the stock of each item by 100 using for loop

for key in inventory:
  inventory[key] += 100
print(inventory)

In [ ]:
#Example: let's print too many for stocks if it exceeds 200, and enough for the one equal and less than 200
#{'Banana': 25, 'Apple': 20, 'Melon': 4, 'Mango': 23}
#we will use items() method in for loop so that we can get both keys and values at the same time.

for key, value in inventory.items():
  if value > 200:
    print("Too many", key)
  else:
    print("Enough", value)

In [ ]:
merve = {}
print(type(merve))

In [ ]:
series = range(5)
print(series, type(series))

In [ ]:
#FILE OPERATIONS
%cd /content/file_operations

In [ ]:
#open()
message_file = open("/content/file_operations/message.txt")

In [ ]:
#READ MODE
message_file = open("/content/file_operations/message.txt", "r")
content = message_file.read()
message_file.close()

In [ ]:
print(content)

In [ ]:
#WRITE MOOD
#write mode creates a new file if it does not exist
hello_file = open("hello.txt", "w")

In [ ]:
hello_file.write("This file is created by write method. This is python file operations.")
hello_file.close()

In [ ]:
read_from_hello = open("hello.txt", "r")
text = read_from_hello.read()
read_from_hello.close()

print(text)

In [ ]:
#Example: Write a program that stops until find 77 in range(100) and write all the processes into a file
import random 

numbers_file = open("history.txt", "w")
while True:
  random_number = random.randrange(100)
  print(random_number)

  numbers_file.write(str(random_number))
  numbers_file.write('\n')
  if random_number == 77:
    print('Found!')
    numbers_file.write('Found!')
    numbers_file.close()
    break

In [ ]:
#WITH: If we use file operations, it is essential to close it. There are more practical way with "with" keyword
#when we using with, we don't need to close the file.

#numbers_file = open("deneme.txt", "w")
#with open("deneme.txt", "w") as numbers_file

In [ ]:
#ERROR HANDLING
#They occur not because of syntax errors, but exceptions.
#We encounter them while program is "running".
#We can handle them by error handling

def divide(first_number, second_number):
  try:
    num1 = int(first_number)
    num2 = int(second_number)
    return num1/num2
  except:
    return "Invalid types!"

first_number = input("Enter a number: ")
second_number = input("Enter another one: ")

print(divide(first_number, second_number))

In [ ]:
print(10/2)

In [ ]:
#What if we enter 0 ???

def divide(first_number, second_number):
  try:
    num1 = int(first_number)
    num2 = int(second_number)
    return num1 / num2
  except ValueError:
    return "Only Integers are allowed! Try again!"
  except ZeroDivisionError:
    return "You cannot divide any number by zero!"

first_number = input("number1: ")
second_number = input("number2: ")
print(divide(first_number, second_number))

In [ ]:
def foo(num1, num2):
  try:
    return num1 + num2 + 0/1
  except:
    return "new exception"

print(foo(1, 2))